.Header {
  background-color: #d8127d;
  color: #fff;
  margin: 0 -1rem;
  padding: 1rem;
}

@media (min-width: 58rem) {
  .Header-inner {
    display: flex;
    justify-content: space-between;
    max-width: 94rem;
    margin: -1rem auto;
  }
}

@media (min-width: 72rem) {
  html body .Header-inner {
    padding: 1.5rem 2rem 1.5rem;
  }
}

@media (min-width: 58rem) {
  html .Header-inner {
    padding: 1rem 1.5rem 1rem;
  }
}

.Header-inner {
  padding: 0.5rem 0 1rem;
}

@media (min-width: 58rem) {
  .Header-logoLink {
    padding-right: 1.6rem;
    display: block;
  }
}

.Header-actions {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 58rem) {
  html .Header-logo {
    max-width: 10rem;
    margin-top: 0.4rem;
  }
}

.Header-logo {
  display: block;
  max-width: 8rem;
  margin-top: 1rem;
}

@media (min-width: 58rem) {
  .Header-target {
    align-self: center;
    flex: 0 1 8rem;
    margin: 0 2rem 0 4rem;
    position: static;
  }
}

@media (min-width: 58rem) {
  html .Header-menu {
    background: none;
    margin: 0;
  }
}

.Header-menu {
  background-color: #c11070;
  margin: 2rem -1rem 0 -1rem;
}

@media (min-width: 58rem) {
  .Menu-items {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
  }
}

.Menu-items {
  list-style: none;
}

@media (min-width: 58rem) {
  .Menu-item {
    flex: 1;
    text-align: center;
  }
}

@media (min-width: 58rem) {
  .Menu-link {
    box-shadow: none;
  }
}

.Menu-item-active {
  margin: 0 0.75rem;
}

.Menu-item-active .Menu-link {
  padding: 0.75rem 0;
  border-bottom: #fff solid 2px;
}

@media (min-width: 72rem) {
  html .Menu-link {
    font: 600 1.266rem/1.75rem proxima-nova, sans-serif;
  }
}

.Menu-link {
  color: #fff;
  display: block;
  font: 600 1rem/1.75rem proxima-nova, sans-serif;
  padding: 0.75rem;
  text-decoration: none;
  white-space: nowrap;
}
